#APIYI_LLM_API_KEY=
#OPENROUTER_LLM_API_KEY=

DATABASE_URL=

STORAGE_PROVIDER=blob
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000

upstash_box_name=
upstash_box=
UPSTASH_BOX_API_KEY=

OPENAI_OAUTH_ISSUER=https://auth.openai.com
OPENAI_OAUTH_CLIENT_ID=app_EMoamEEZ73f0CkXaXp7hrann
OPENAI_OAUTH_CALLBACK_PORT=1455
OPENAI_OAUTH_CALLBACK_PATH=/auth/callback
OPENAI_OAUTH_SCOPES=openid profile email offline_access
OPENAI_OAUTH_ORIGINATOR=opencode

HOST_TOKEN_SERVICE_API_KEY=11223344